* {
    padding: 0;
    margin: 0;
}

#field {
    height: 100vh;
    background: url("../img/field.PNG");
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}